.analyze-base:
  stage: analyze
  image: $MVN_DEFAULT_IMAGE
  needs:
    - job: build
      artifacts: true
  allow_failure: true

pmd_lint_job:
  extends: .analyze-base
  script:
    - mvn $MAVEN_CLI_OPTS pmd:pmd pmd:cpd
  artifacts:
    when: always
    expire_in: "1 week"
    paths:
      - "**/target/site/pmd.html"
      - "**/target/site/cpd.html"

SpotBugs:
  extends: .analyze-base
  script:
    - mvn $MAVEN_CLI_OPTS compile spotbugs:spotbugs
  artifacts:
    expire_in: "1 week"
    when: always
    paths:
      - "**/target/site/spotbugsXml.xml"

Checkstyle:
  extends: .analyze-base
  script:
    - mvn $MAVEN_CLI_OPTS checkstyle:checkstyle
  artifacts:
    expire_in: "1 week"
    when: always
    paths:
      - "**/target/checkstyle-result.xml"

SonarQube:
  extends: .analyze-base
  needs:
    - job: unit-tests
      artifacts: true
  script:
    - mvn $MAVEN_CLI_OPTS sonar:sonar
      -Dsonar.host.url=$SONAR_HOST_URL
      -Dsonar.token=$SONAR_TOKEN
      -Dsonar.projectKey=$CI_PROJECT_PATH_SLUG
  rules:
    - if: $SONAR_HOST_URL && $SONAR_TOKEN