prepare_dependencies:
  stage: prepare
  image: $MVN_DEFAULT_IMAGE
  allow_failure: true #This job may fail because dependencies will be loaded later
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
      - .m2/repository
    policy: push
  script:
    - mvn $MAVEN_CLI_OPTS dependency:go-offline -T 1C

build:
  stage: build
  image: $MVN_DEFAULT_IMAGE
  needs:
    - job: prepare_dependencies
      artifacts: false
  script:
    - mvn $MVN_BUILD_OPTS clean package -DskipTests
  artifacts:
    expire_in: 1 day
    paths:
      - "**/target/*.jar"
      - "**/target/classes/"
      - "**/target/test-classes/"
      - "**/target/generated-sources/"
      - "pom.xml"
      - "**/pom.xml"

