variables:
  DOCKER_BUILD_IMAGE: "docker"
  TRIVY_IMAGE: "aquasec/trivy:latest"

.docker-build-base:
  stage: package
  image: $MVN_DEFAULT_IMAGE
  needs:
    - job: build
      artifacts: true
    - job: unit-tests
      artifacts: false
    - job: dependency-scan
      artifacts: false
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY


build-docker-api:
  extends: .docker-build-base
  stage: package
  script:
    - mvn $MAVEN_CLI_OPTS jib:build
      -pl sa-app-api
      -Djib.to.image=$CI_REGISTRY_IMAGE/api:$CI_COMMIT_SHA
      -Djib.to.auth.username=$CI_REGISTRY_USER
      -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - when: manual
      allow_failure: true

build-docker-frontend:
  extends: .docker-build-base
  script:
    - mvn $MAVEN_CLI_OPTS jib:build
      -pl sa-app-frontend
      -Djib.to.image=$CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHA
      -Djib.to.auth.username=$CI_REGISTRY_USER
      -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - when: manual
      allow_failure: true

container-scan-api:
  stage: package
  image: $TRIVY_IMAGE
  needs:
    - job: build-docker-api
      artifacts: false
  script:
    - trivy image --exit-code 1 --severity HIGH,CRITICAL $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: true

container-scan-frontend:
  stage: package
  image: $TRIVY_IMAGE
  needs:
    - job: build-docker-frontend
      artifacts: false
  script:
    - trivy image --exit-code 1 --severity HIGH,CRITICAL $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHA
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: true