unit-tests:
  stage: test
  image: $MVN_DEFAULT_IMAGE
  needs:
    - job: build
      artifacts: true
  script:
    - mvn $MAVEN_CLI_OPTS test jacoco:report
  artifacts:
    when: always
    reports:
      junit:
        - "**/target/surefire-reports/*.xml"
      coverage_report:
        coverage_format: jacoco
        path: "**/target/site/jacoco/jacoco.xml"
    paths:
      - "**/target/site/jacoco/jacoco.xml"
      - "**/target/surefire-reports/*.xml"
  coverage: '/Total.*?([0-9]{1,3})%/'

integration-tests:
  stage: test
  image: $MVN_DEFAULT_IMAGE
  needs:
    - job: build
      artifacts: true
  script:
    - mvn $MAVEN_CLI_OPTS verify -DskipUnitTests
  artifacts:
    when: always
    reports:
      junit:
        - "**/target/failsafe-reports/*.xml"
  rules:
    - when: manual
      allow_failure: true