variables:
  MVN_DEFAULT_IMAGE: "maven:3.9.12-eclipse-temurin-21"
  MVN_BUILD_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  MAVEN_CLI_OPTS: >-
    --batch-mode
    --errors
    --fail-at-end
    --show-version
    --no-transfer-progress
    "-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false"

default:
  tags:
    - high-speed-runner
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
      - .m2/repository/
    policy: pull

stages:
  - prepare   # Cache, Dependencies
  - build     # Compile, Package
  - test      # Unit Tests, Integration Tests
  - analyze   # SAST, Code Quality
  - security  # Vulnerability Scanning, SBOM
  - package   # Docker Image
  - deploy    # Deployment to Environments
  - release   # Tagging, Publishing

workflow:
  rules:
    - if: $CI_PIPELIN_SOURCE == "merge_request_event"
      when: never
    - if: $CI_COMMIT_BRANCH
      when: always


include:
  - local: pipeline/jobs/maven-build.gitlab-ci.yml
  - local: pipeline/jobs/test.gitlab-ci.yml
  - local: pipeline/jobs/analyze.gitlab-ci.yml
  - local: pipeline/jobs/security.gitlab-ci.yml
  - local: pipeline/jobs/package.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
        when: always
      - if: $CI_COMMIT_REF_PROTECTED == "true"
        when: always
      - if: $GITLAB_CI == "false"
        when: always
      - when: always
  - local: pipeline/jobs/deploy.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
        when: always
      - if: $CI_COMMIT_REF_PROTECTED == "true"
        when: always
      - if: $GITLAB_CI == "false"
        when: always
      - when: always

# This job is necessary because GitLab checks the existence of at least one job before realizing that the workflow defines that no pipeline shall run
ghost:
  stage: prepare
  rules:
    - when: never
  script:
    - echo "DO NOTHING"