<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/3.7.1/dist/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"/>
    <title layout:title-pattern="$CONTENT_TITLE">SA APP</title>
</head>
<body>

<h1>Welcome To SA APP</h1>

<main layout:fragment="content">
    <!-- will be replaced -->
</main>

<footer>
    <small>© 2026</small>
</footer>

</body>
</html>